* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121418; 
  color: #EAEAEA;
  font-family: 'Playfair Display', serif; 
}


.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;          
  background-color: #121418;    
  padding: 25px 50px;           
}


.logo img {
  height: 188px; 
  width: auto;
  display: block;
}


.brand h1 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;       
  font-weight: 400;
  letter-spacing: 3px;     
  color: #EAEAEA;
  text-transform: uppercase;
  text-align: center;
}

.nav-links ul {
  display: flex;
  list-style: none; 
  gap: 25px;       
}

.nav-links a {
  text-decoration: none;       
  color: #b0b3b8;              
  font-family: 'Playfair Display', serif;
  font-size: 16px;           
  letter-spacing: 2px;          
  transition: color 0.3s ease;  
}

.nav-links a:hover {
  color: #ffffff; 
}
